.grouptask{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 736px;
}

.newtask-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 736px;
  height: 54px;
  left: calc(50% - 736px/2);
  top: 173px;
}

.newtask-input{ 
  width: 638px;
  height: 50px;
  background: #262626;
  border: 1px solid #0D0D0D;
  padding-left: 16px;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #808080;
}

.newtast-button{
  width: 90px;
  height: 52px;
  background: #1E6F9F;
  border-radius: 8px;font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: #F2F2F2;
  border: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.newtast-button:hover{
  background-color: #4EA8DE;
  cursor: pointer;
}


.grouptask-container{
  position: absolute;
  left: calc(50% - 736px/2);
  top: 291px;

}


.grouptask-header {
  width: 736px;
  display: flex;
  justify-content: space-between;
}

.p-create{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #4EA8DE;
}

.p-completed {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #8284FA;
}

.count-create{
  background-color: #333333;
  color: #F2F2F2;
  padding: 2px 8px 2px 8px ;
  border-radius: 40%;
}

.count-completed{
  background-color: #333333;
  color: #F2F2F2;
  padding: 2px 8px 2px 8px ;
  border-radius: 40%;
}


.grouptask-content{
  width: 736px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #262626;
  border-radius: 8px;
}

.cliptask{
  padding-top: 64px;
}

.p-clip1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  padding-top: 16px;


  text-align: center;

  color: #808080;
}

.p-clip2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;

  color: #262626;
}