.task-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 736px;
  height: 72px;
  background: #262626;
  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 10px;
}

.check-task{
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #4EA8DE;
  border-radius: 50%;
}

.check-task:hover{
  background-color: rgba(0, 0, 0, 0.25);
}

.check-task:checked{
  background-color: #5E60CE;
}

.check-task:checked:hover {
  opacity: 0.7;
}

.check-task:checked + p{
  text-decoration: line-through;
  color: #808080;
}

.p-task {
  font-weight: 400;
  font-size: 16px;
  color: #F2F2F2;
}

.trash-button {
  background-color: transparent;
  border: none;
}

.trash-button:hover {
  background: #333333;
  border-radius: 4px;
}

.trash-button:hover .trash-icon {
  fill: #E25858;
}
